<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>ae</string>
      <string>AE</string>
      <string>eth</string>
      <string>Eth</string>
      <string>dotlessi</string>
      <string>dotlessj</string>
      <string>oslash</string>
      <string>Oslash</string>
      <string>aring</string>
      <string>Aring</string>
      <string>oe</string>
      <string>OE</string>
      <string>thorn</string>
      <string>Thorn</string>
      <string>germandbls</string>
      <string>uni1E9E</string>
      <string>hbar</string>
      <string>Hbar</string>
      <string>lslash</string>
      <string>Lslash</string>
      <string>fehu</string>
      <string>uruz</string>
      <string>thurisaz</string>
      <string>ansuz</string>
      <string>raido</string>
      <string>kaunan</string>
      <string>gebo</string>
      <string>wunjo</string>
      <string>hagalaz</string>
      <string>naudiz</string>
      <string>isa</string>
      <string>jera</string>
      <string>eihwaz</string>
      <string>perthro</string>
      <string>algiz</string>
      <string>sowilo</string>
      <string>tiwaz</string>
      <string>berkanan</string>
      <string>ehwaz</string>
      <string>mannaz</string>
      <string>laguz</string>
      <string>ingwaz</string>
      <string>dagaz</string>
      <string>othala</string>
      <string>cen</string>
      <string>haegl</string>
      <string>ing</string>
      <string>ar</string>
      <string>oerune</string>
      <string>ethrune</string>
      <string>stungfehu</string>
      <string>qrune</string>
      <string>ansuz_ring</string>
      <string>sowilo.ss01</string>
      <string>kaun</string>
      <string>hagall</string>
      <string>oss</string>
      <string>madr</string>
      <string>yr</string>
      <string>shortoss</string>
      <string>shorthagall</string>
      <string>shortnaud</string>
      <string>shortar</string>
      <string>shortsol</string>
      <string>shorttyr</string>
      <string>shortbjarkan</string>
      <string>shortmadr</string>
      <string>shortyr</string>
      <string>orune</string>
      <string>onrune</string>
      <string>openp</string>
      <string>icelandicyr</string>
      <string>xrune</string>
      <string>yrune</string>
      <string>wrune</string>
      <string>grune</string>
      <string>engrune</string>
      <string>dottedn</string>
      <string>erune</string>
      <string>crune</string>
      <string>zrune</string>
      <string>drune</string>
      <string>dottedp</string>
      <string>dottedl</string>
      <string>yrfuthorc</string>
      <string>os</string>
      <string>ac</string>
      <string>aesc</string>
      <string>gar</string>
      <string>ger</string>
      <string>ear</string>
      <string>ior</string>
      <string>cweorth</string>
      <string>calc</string>
      <string>cealc</string>
      <string>stan</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>exclam</string>
      <string>question</string>
      <string>hyphen</string>
      <string>underscore</string>
      <string>plus</string>
      <string>equal</string>
      <string>slash</string>
      <string>backslash</string>
      <string>quotesingle</string>
      <string>quotedbl</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>less</string>
      <string>greater</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>runedot</string>
      <string>runecross</string>
      <string>runecolon</string>
      <string>periodcentered</string>
      <string>multiply</string>
      <string>bar</string>
      <string>asciicircum</string>
      <string>grave</string>
      <string>asciitilde</string>
      <string>degree</string>
      <string>divide</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>at</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>exclamdown</string>
      <string>questiondown</string>
      <string>dollar</string>
      <string>cent</string>
      <string>sterling</string>
      <string>yen</string>
      <string>euro</string>
      <string>section</string>
      <string>paragraph</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>bullet</string>
      <string>ellipsis</string>
      <string>dottedcircle</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quotedblbase</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>acute</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>tilde</string>
      <string>dieresis</string>
      <string>macron</string>
      <string>breve</string>
      <string>dotaccent</string>
      <string>ring</string>
      <string>hungarumlaut</string>
      <string>cedilla</string>
      <string>ogonek</string>
      <string>uni0301</string>
      <string>uni0300</string>
      <string>uni0302</string>
      <string>uni030C</string>
      <string>uni0303</string>
      <string>uni0308</string>
      <string>uni0304</string>
      <string>uni0306</string>
      <string>uni0307</string>
      <string>uni030A</string>
      <string>uni030B</string>
      <string>uni0327</string>
      <string>uni0328</string>
      <string>uni0326</string>
      <string>uni00C0</string>
      <string>uni00C1</string>
      <string>uni00C2</string>
      <string>uni00C3</string>
      <string>uni00C4</string>
      <string>uni00C7</string>
      <string>uni00C8</string>
      <string>uni00C9</string>
      <string>uni00CA</string>
      <string>uni00CB</string>
      <string>uni00CC</string>
      <string>uni00CD</string>
      <string>uni00CE</string>
      <string>uni00CF</string>
      <string>uni00D1</string>
      <string>uni00D2</string>
      <string>uni00D3</string>
      <string>uni00D4</string>
      <string>uni00D5</string>
      <string>uni00D6</string>
      <string>uni00D9</string>
      <string>uni00DA</string>
      <string>uni00DB</string>
      <string>uni00DC</string>
      <string>uni00DD</string>
      <string>uni00E0</string>
      <string>uni00E1</string>
      <string>uni00E2</string>
      <string>uni00E3</string>
      <string>uni00E4</string>
      <string>uni00E7</string>
      <string>uni00E8</string>
      <string>uni00E9</string>
      <string>uni00EA</string>
      <string>uni00EB</string>
      <string>uni00EC</string>
      <string>uni00ED</string>
      <string>uni00EE</string>
      <string>uni00EF</string>
      <string>uni00F1</string>
      <string>uni00F2</string>
      <string>uni00F3</string>
      <string>uni00F4</string>
      <string>uni00F5</string>
      <string>uni00F6</string>
      <string>uni00F9</string>
      <string>uni00FA</string>
      <string>uni00FB</string>
      <string>uni00FC</string>
      <string>uni00FD</string>
      <string>uni00FF</string>
      <string>uni0100</string>
      <string>uni0101</string>
      <string>uni0102</string>
      <string>uni0103</string>
      <string>uni0104</string>
      <string>uni0105</string>
      <string>uni0106</string>
      <string>uni0107</string>
      <string>uni010A</string>
      <string>uni010B</string>
      <string>uni010C</string>
      <string>uni010D</string>
      <string>uni010E</string>
      <string>uni010F</string>
      <string>uni0112</string>
      <string>uni0113</string>
      <string>uni0116</string>
      <string>uni0117</string>
      <string>uni0118</string>
      <string>uni0119</string>
      <string>uni011A</string>
      <string>uni011B</string>
      <string>uni011E</string>
      <string>uni011F</string>
      <string>uni0120</string>
      <string>uni0121</string>
      <string>uni0122</string>
      <string>uni0123</string>
      <string>uni012A</string>
      <string>uni012B</string>
      <string>uni012E</string>
      <string>uni012F</string>
      <string>uni0130</string>
      <string>uni0136</string>
      <string>uni0137</string>
      <string>uni0139</string>
      <string>uni013A</string>
      <string>uni013B</string>
      <string>uni013C</string>
      <string>uni013D</string>
      <string>uni013E</string>
      <string>uni0143</string>
      <string>uni0144</string>
      <string>uni0145</string>
      <string>uni0146</string>
      <string>uni0147</string>
      <string>uni0148</string>
      <string>uni0150</string>
      <string>uni0151</string>
      <string>uni0154</string>
      <string>uni0155</string>
      <string>uni0158</string>
      <string>uni0159</string>
      <string>uni015A</string>
      <string>uni015B</string>
      <string>uni015E</string>
      <string>uni015F</string>
      <string>uni0160</string>
      <string>uni0161</string>
      <string>uni0164</string>
      <string>uni0165</string>
      <string>uni016A</string>
      <string>uni016B</string>
      <string>uni016E</string>
      <string>uni016F</string>
      <string>uni0170</string>
      <string>uni0171</string>
      <string>uni0172</string>
      <string>uni0173</string>
      <string>uni0174</string>
      <string>uni0175</string>
      <string>uni0176</string>
      <string>uni0177</string>
      <string>uni0178</string>
      <string>uni0179</string>
      <string>uni017A</string>
      <string>uni017B</string>
      <string>uni017C</string>
      <string>uni017D</string>
      <string>uni017E</string>
      <string>uni0218</string>
      <string>uni0219</string>
      <string>uni021A</string>
      <string>uni021B</string>
      <string>uni1E80</string>
      <string>uni1E81</string>
      <string>uni1E82</string>
      <string>uni1E83</string>
      <string>uni1E84</string>
      <string>uni1E85</string>
      <string>uni1EF2</string>
      <string>uni1EF3</string>
    </array>
    <key>public.openTypeMeta</key>
    <dict>
      <key>dlng</key>
      <array>
        <string>Latn</string>
        <string>Runr</string>
      </array>
      <key>slng</key>
      <array>
        <string>Latn</string>
        <string>Runr</string>
      </array>
    </dict>
  </dict>
</plist>
